@import "_variables.scss";
.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  margin: 1rem;
  font-size: 2rem;
  border-radius: 5rem;
  transition: all 0.3s;
  position: relative;
  background-color: #ff5722;
  color: #000;
}
