html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 1.5rem 3.5rem;
  margin: 1rem;
  font-size: 2rem;
  border-radius: 2rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  background-color: #00b0ff;
  color: #000;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.btn:active {
  color: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  -webkit-transform: scalex(1.25) scaleY(1.3);
          transform: scalex(1.25) scaleY(1.3);
}

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.p2:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
  color: #00b0ff;
}

.p2 {
  margin-top: 4rem;
  font-size: 1.25rem;
}

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pikachu {
  margin-top: 2.5rem;
  height: 20rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50%;
}

.pikachu:hover {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text-effect {
  background-image: url("./media/water.jpg");
  background-position: center;
  color: transparent;
  font-size: 5rem;
  margin-top: 4rem;
  -webkit-background-clip: text;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.text-effect:hover {
  -webkit-transform: skewY(-20deg);
          transform: skewY(-20deg);
  letter-spacing: 2rem;
}

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.the-end {
  height: 30rem;
  position: relative;
}

.the-end-picture {
  height: 30rem;
  -webkit-clip-path: circle();
          clip-path: circle();
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.the-end-header {
  font-size: 3rem;
  opacity: 1;
  color: #fff;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.the-end:hover .the-end-header {
  top: 45%;
}

.container {
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  margin: 2rem auto;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */